.header {
    background: $header-bg;
    color: white;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-logo{
        color: $logo-color;
        font-size: 32px;
    }
    &-menu{
        ul{
            display: flex;
            gap: 20px;
        }
        &__item{
            color: bisque;
            cursor: pointer;
        }
    }
    &-btn{
        @include btn(white, rgb(0, 0, 255))
    }
}
